@import url("https://fonts.googleapis.com/css?family=Montserrat");

.header {
  margin-bottom: 50px;
}

.nav-item {
  margin: 15px;
}

.logo-image {
  width: 80px;
}

.header-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.header-item {
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .header-title {
    font-size: 25px;
    margin-right: 1rem;
  }
  .logo-image {
    width: 60px;
  }
}
