.time-table-wrapper {
  display: flex;
}

.afternoon-container {
  padding-left: 0;
}

.morning-container {
  padding-right: 0;
}

.row {
  justify-content: center;
}

.col-auto {
  font-size: 1.3em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-counter {
  font-size: 0.8em;
  margin-right: 5px;
}

.user-img {
  width: 20px;
}

.hour-button {
  width: 100px;
}

.hours-card {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .time-table-wrapper {
    display: block;
  }
}
